In [5]:
import pandas as pd
df = pd.read_csv(r"C:\Users\5590a\Desktop\my project\job.csv")
df.head(10)

   Years  result
0     22       0
1     25       0
2     47       1
3     52       0
4     46       1
5     56       1
6     55       0
7     60       1
8     62       1
9     61       1

In [6]:
x = df[['Years']]
y = df['result']

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,train_size = 0.8, random_state = 1)

In [8]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [11]:
model.fit(x_train,y_train)
print(x_test)

    Years
17     58
14     49
18     19
3      52
23     45
10     18

In [12]:
y_predicted = model.predict(x_test)
y_predicted

array([1, 1, 0, 1, 1, 0])

In [13]:
model.score(x_test, y_test)

0.8333333333333334